.premmerce-upgrate-to-premium-button {
    background-color: #2271b1;
    border-color: #2271b1;
    color: #ffffff;
    float: right;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

.premmerce-upgrate-to-premium-button:hover,
.premmerce-upgrate-to-premium-button:active,
.premmerce-upgrate-to-premium-button:focus {
    background-color: #2271b1;
    border-color: #2271b1;
    color: #ffffff;
    text-decoration: none;
    opacity: 0.8;
}

.setting-disabled button.wp-color-result,
.setting-disabled .wp-picker-clear {
    color: #a7aaad!important;
    border-color: #dcdcde!important;
    background: #f6f7f7!important;
    box-shadow: none!important;
    cursor: default;
    transform: none!important;
}

.premmerce-admin-number {
    width: 60px;
}
